
header {


    width: 100%;
    background-color:rgb(105, 105, 105);
    /* margin-bottom: 30px; */
    }


main{

    /* margin: 30px; */
    margin-left: 100px;
    margin-right: 90px;
}

div ul li{
    display: inline-block;
    margin: 50px;
    font-size: larger;
    color:rgb(192,192,192);
    }
    



nav img{

    float: left;
    margin: 20px;
    margin-left: 100px;

    }


section{
    width: 100%;

}

section div {

    width: 100%;
}

section div img {

    width: 32%;
    margin-top: 30px;
    
}
#firstimg{
    margin-right: 30px;
    

}

#scndimg{
    margin-right: 30px;

}


#root {
    width: 100%;
}

#root img {
    width: 100%;
}


main nav {
width: 100%;
}


main nav img {

    width: 50%;

    /* margin-bottom:30px ; */

}


h1 {

    font-size: xx-large;
    font-weight: bold;
    margin: 30px;
}
p {
    font-size:x-large;
    margin: 30px;
}

#button{

    padding: 14px 40px;
    font-size: x-large;
    text-align: center;
    background-color:black; 
    color: white;
    margin-left:30px;

}


footer{

    width: 100%;
    background-color:rgb(105, 105, 105);
    margin-top: 30px;
    height:100px;

}










